* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

.preloader__box {
    width: 40vw;
    margin: 150px auto;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: flex-end;
}

.cat {
    width: 170px;
    animation: rotate 1s infinite linear alternate;
}

.ball {
    width: 30px;
    animation: bounce 2.5s infinite linear;
}

@keyframes bounce {
    0% {
        transform: translate(100px, -80px);
    }
    15% {
        transform: translate(85px, -50px);
    }
    30% {
        transform: translate(60px, 10px);
    }
    45% {
        transform: translate(45px, -40px) scale(0.9);
    }
    60% {
        transform: translate(30px, -20px) scale(0.7);
    }
    70% {
        transform: translate(20px, 10px) scale(0.5);
    }
    85% {
        transform: translate(5px, -10px) scale(0.3);
    }
    100% {
        transform: translate(0, 10px) scale(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotateY(0) translateZ(0);
    }
    50% {
        transform: rotateY(15deg) translateZ(15px);
    }
    100% {
        transform: rotateY(0) translateZ(0);
    }
}

