* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

.blocks {
    width: 70vh;
    margin: 150px auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.block {
    border-radius: 50%;
}

.outer {
    width: 30px;
    height: 30px;
    border: 10px solid #00D4FF;
}

.outer.left {
    animation: outerToRight 1.5s ease-in-out infinite alternate, toPurple 1.5s ease-in-out infinite alternate;
}

.outer.right {
    animation: outerToLeft 1.5s ease-in-out infinite alternate, toPurple 1.5s ease-in-out infinite alternate;
}

.middle {
    width: 80px;
    height: 80px;
    border: 10px solid #020024;
    animation: sizing 1.5s ease-in-out infinite alternate;
}

.inner {
    width: 50px;
    height: 50px;
    border: 10px solid #090979;
}

.inner.left {
    animation: innerToRight 1.5s ease-in-out infinite alternate, toViolet 1.5s ease-in-out infinite alternate;
}

.inner.right {
    animation: innerToLeft 1.5s ease-in-out infinite alternate, toViolet 1.5s ease-in-out infinite alternate;
}

@keyframes outerToRight {
    0% {
        transform: translateX(0) scale(1);
    }
    100% {
        transform: translateX(165px) scale(3);
    }
}

@keyframes outerToLeft {
    0% {
        transform: translateX(0) scale(1);
    }
    100% {
        transform: translateX(-165px) scale(3);
    }
}

@keyframes innerToRight {
    0% {
        transform: translateX(0) scale(1);
    }
    100% {
        transform: translateX(95px) scale(1.2);
    }
}

@keyframes innerToLeft {
    0% {
        transform: translateX(0) scale(1);
    }
    100% {
        transform: translateX(-95px) scale(1.2);
    }
}

@keyframes sizing {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.4);
        border: 15px solid #DA74DB;
    }
}

@keyframes toPurple {
    0% {
        border: 8px solid #090979;
    }
    100% {
        border: 4px solid #88228A;
    }
}

@keyframes toViolet {
    0% {
        border: 8px solid #00D4FF;
    }
    100% {
        border: 8px solid #510175;
    }
}

