* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 5vh;
    background-color: #d9d9d9;
}

main {
    height: 86vh;
    display: flex;
}

section, article {
    height: 100%;
}

.main__section {
    width: 29vw;
    background-color: #a4a4a4;
}

.main__article {
    width: 30vw;
    background-color: #c1c1c1;
}

.main__aside-box {
    width: 41vw;
}

.main__aside-top {
    height: 50%;
    background-color: #7f7a7a;
}

.main__aside-bottom {
    height: 50%;
    background-color: #6b6161;
}

footer {
    height: 9vh;
    background-color: #d9d9d9;
}