* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #020202;
    background-color: #fcfcfc;
    background-image: url("img/book-library.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.wrapper {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
    background-color: rgba(250, 235, 215, 0.75);
}

.block:not(:last-of-type) {
    margin-bottom: 30px;
}

.block__title {
    color: #4e1c1c;
    margin-bottom: 20px;
}

.block__list li {
    margin-bottom: 3px;
    font-size: 17px;
}

.block-first ul > li:nth-child(even) {
    color: #ff00c5;
}

.block-second ul > li:nth-child(odd) {
    font-size: 22px;
}

.block-third ul > li:nth-child(2n + 4)::after {
    content: "!";
}

.block-fourth ul > li:last-child {
    color: #6c2ddd;
}

.block-fifth ul > li:first-letter {
    font-size: 30px;
    color: red;
}