* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: "Bowlby One", sans-serif;
    background-color: #1e1e1e;
}

.wrapper {
    width: 1340px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    width: 100%;
    padding: 36px 0 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 59px;
}

nav ul a {
    font-weight: 400;
    font-size: 18px;
    line-height: 97%;
    color: #e9e3dc;
}

.nav__button {
    width: 203px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1e1e1e;
    background-color: #b3a0cd;
}

.main__title {
    width: 1255px;
    margin: 74px 42px 0 42px;
    font-weight: 400;
    font-size: 107px;
    line-height: 89%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #e9e3dc;
}

.main__poster {
    margin-top: 33px;
}

.about {
    width: 100%;
    height: 369px;
    margin-top: 32px;
    padding: 98px 148px 85px 109px;
    display: flex;
    justify-content: space-between;
    background-color: #d1ef53;
    border: 4px solid #1e1e1e;
    border-radius: 30px;
}

.about__title {
    width: 533px;
    font-weight: 400;
    font-size: 70px;
    line-height: 89%;
    letter-spacing: -0.02em;
    color: #1e1e1e;
}

.about__info {
    width: 521px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__info p {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #1e1e1e;
}

.about__info button {
    width: 176px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9e3dc;
    border: 4px solid #1e1e1e;
    box-shadow: 8px 8px 0 0 #000;
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 97%;
    color: #1e1e1e;
}

.menu {
    width: 100%;
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-cafe {
    width: 100%;
    margin-top: 64px;
}

.order {
    width: 895px;
    margin: 64px 0 36px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 33px;
}

.order__title {
    font-weight: 400;
    font-size: 70px;
    line-height: 102%;
    text-align: center;
    color: #e9e3dc;
}

.order__button {
    width: 196px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d1ef53;
    border: none;
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 97%;
    color: #1e1e1e;
}