* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 5vh;
    background-color: #d9d9d9;
}

main {
    height: 73vh;
    display: flex;
}

.main__section {
    width: 59vw;
    height: 100%;
    background-color: #a4a4a4;
}

.main__aside-box {
    width: 41vw;
}

.main__aside-top {
    height: 39vh;
    background-color: #7f7a7a;
}

.main__aside-bottom {
    height: 34vh;
    background-color: #615050;
}

footer {
    height: 22vh;
}

.footer__div-top {
    height: 10vh;
    background-color: #d9d9d9;
}

.footer__div-bottom {
    height: 12vh;
    background-color: #afa9a9;
}