* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    height: 22vh;
    background: #d9d9d9;
}

main {
    height: 56vh;
    display: flex;
}

main section {
    width: 46vw;
    height: 100%;
    background: #a4a4a4;
}

main aside {
    width: 27vw;
    height: 100%;
    background: #c0bdbd;
}