* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: url(img/main_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #f6f6f6;
}

div {
    padding: 100px 150px;
    background-color: rgba(0, 0, 0, 0.65);
}

h1 {
    font-size: 48px;
    color: #ffe0a0;
}

h2 {
    margin: 20px 0;
    font-size: 38px;
}

img {
    display: block;
    width: 300px;
    height: 330px;
    object-fit: cover;
    margin-top: 30px;
}

h3 {
    margin-top: 5px;
    font-size: 34px;
}

span {
    font-size: 30px;
    color: #ffe0a0;
}

