* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.wrapper {
    height: 100vh;
    background-color: #3c898a;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 473px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
}

.form__title {
    width: 100%;
    margin-bottom: 16px;
    padding: 31px 10px;
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    color: #000000;
    background-color: #ebf3f3;
    border-radius: 8px 8px 0 0;
}

form>label {
    width: 100%;
    margin-bottom: 27px;
    padding: 0 68px;
}

form>label input {
    width: 336px;
    padding: 11px 2px;
    border: 1px solid #9e9e9e;
    color: #000000;
    font-size: 14px;
}

form>label input::placeholder {
    font-size: 11px;
    color: #787878;
}

form>label input:focus {
    outline: 1px solid #3c898a;
}

.form__submit {
    width: 100%;
    margin-bottom: 96px;
    padding: 0 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 13px;
    color: #000000;
    cursor: pointer;
}

.checkbox input {
    appearance: none;
    width: 10px;
    height: 10px;
    border: 1px solid #9e9e9e;
    border-radius: 2px;
    cursor: pointer;
}

.checkbox input:checked {
    background-color: #3c898a;
}

button {
    width: 81px;
    height: 24px;
    border: 1px solid #9e9e9e;
    border-radius: 7px;
    background-color: #ebf3f3;
    font-size: 12px;
    color: #000000;
    text-align: center;
}
