* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 5vh 40vh 33vh 10vh 12vh;
    grid-template-columns: 59vw 41vw;
    grid-template-areas:
        "nav     nav"
        "main    aside-top"
        "main    aside-bottom"
        "section section"
        "footer  footer";
}

nav {
    grid-area: nav;
    background-color: #d9d9d9;
}

main {
    grid-area: main;
    background-color: #a4a4a4;
}

.aside-top {
    grid-area: aside-top;
    background-color: #7f7a7a;
}

.aside-bottom {
    grid-area: aside-bottom;
    background-color: #615050;
}

section {
    grid-area: section;
    background-color: #d9d9d9;
}

footer {
    grid-area: footer;
    background-color: #afa9a9;
}


