* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.wrapper > div {
    width: 533px;
    border: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login__box {
    padding: 68px 60px 30px 60px;
}

h1 {
    margin-bottom: 56px;
    font-family: "Grand Hotel", cursive;
    letter-spacing: 2px;
    font-size: 68px;
    font-weight: normal;
    color: #262626;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login {
    margin-bottom: 11px;
}

.password {
    margin-bottom: 22px;
}

form input {
    width: 100%;
    padding: 20px 15px;
    background-color: #fafafa;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    color: #000000;
}

form input:focus {
    outline: 1px solid #3c5181;
}

form input::placeholder {
    font-size: 18px;
    color: #737373;
}

button {
    width: 100%;
    margin-bottom: 30px;
    padding: 13px;
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    background-color: #79b4f4;
    border: none;
    border-radius: 12px;
}

.login__box > p {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #737373;
}

.facebook {
    margin-bottom: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.facebook img {
    width: 24px;
    height: 24px;
}

.facebook a {
    font-size: 21px;
    font-weight: bold;
    color: #3c5181;
}

.forgot {
    font-size: 18px;
    font-weight: 600;
    color: #3c5181;
}

.forgot:hover {
    text-decoration: underline;
}

.signup__box {
    padding: 28px;
}

.signup__box p {
    font-size: 21px;
    font-weight: 500;
    color: #020202;
}

.signup__box p a {
    font-weight: bold;
    color: #3e95ef;
    transition: all .2s ease-in-out;
}

.signup__box p a:hover {
    color: #3c5181;
}
