* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #fff;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 132px;
}

.item {
    width: 319px;
    height: 492px;
    padding: 34px;
    border: 4px solid #554c4c;
    background: rgba(217, 217, 217, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    position: relative;
}

.item-label {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #fff;
    border: 4px solid #554c4c;;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50px;
}

.item:nth-of-type(even),
.item:nth-of-type(even) .item-label {
    border: 4px solid #65856e;
}

.item-title {
    font-weight: 400;
    font-size: 40px;
    color: #000;
}

.item-description {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #000;
}