* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 80px 60px;
    background-color: #fcfcfc;
    font-family: sans-serif;
}

h3 {
    margin: 35px 0;
    font-size: 40px;
    color: #1c1c1c;
}

p {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    width: 12%;
    font-size: 58px;
    text-align: center;
    background-color: #e0e1e0;
}

span {
    font-size: 64px;
}