@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    background: #f3f5f6;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.cards {
    width: 100%;
    padding: 64px 130px;
    display: flex;
    gap: 32px;
}

.card {
    width: calc((100% - 32px * 3) / 4);
    display: flex;
    flex-direction: column;
}

.card-image {
    display: flex;
}

.card-title {
    margin: 20px 0 18px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #161543;
}

.card-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #7687a1;
}