@media screen and (max-width: 768px) {
    .container {
        max-width: 480px;
    }

    .cards {
        padding: 32px 16px;
        flex-direction: column;
        gap: 32px;
    }

    .card {
        width: 100%;
        margin-bottom: 0;
    }

    .card-title {
        margin: 16px 0 8px 0;
    }
}