@media screen and (min-width: 769px) and (max-width: 1279px) {
    .container {
        max-width: 768px;
    }

    .cards {
        padding: 48px 24px;
        gap: 24px;
        flex-wrap: wrap;
    }

    .card {
        width: calc((100% - 24px) / 2);
        margin-bottom: 16px;
    }
}