* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    font-family: "Inter", sans-serif;
    background: #24204a;
}

.container {
    width: 1170px;
    margin-inline: auto;
}

header {
    width: 100%;
    background: #24204a;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: fixed;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-weight: 700;
    font-size: 20px;
    color: #e5e5e5;
    opacity: 0.6;
}

.header__nav ul {
    width: 100%;
    padding: 48px 0 41px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 63px;
}

.header__nav ul li a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    opacity: 0.6;
}

.hero {
    padding: 180px 17px 101px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__info {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hero__info-label {
    width: 145px;
    height: 41px;
    border-radius: 8px;
    background: #4b4864;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #8e88c1;
}

.hero__info-title {
    width: 261px;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.05em;
    color: #fff;
}

.hero__info-desc {
    width: 570px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #8e88c1;
}

.hero__info-button {
    width: 200px;
    height: 56px;
    border-radius: 8px;
    background: #3f50e7;
    box-shadow: 0 6px 20px 0 rgba(0, 255, 224, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.hero__image {
    width: 375px;
    height: 411px;
    border-radius: 8px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
    background: #827eac;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__image img {
    width: 100%;
    object-fit: cover;
}

.main {
    padding: 50px 0 152px 0;
    background: #071341;
}

.indicators {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.indicator {
    display: flex;
    align-items: center;
    gap: 18px;
}

.indicator-icon {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.indicator:nth-child(1) .indicator-icon {
    background: #ff6853;
}
.indicator:nth-child(2) .indicator-icon {
     background: #ff537c;
}
.indicator:nth-child(3) .indicator-icon {
    background: #80d2c4;
}
.indicator:nth-child(4) .indicator-icon {
    background: #3f50e7;
}
.indicator:nth-child(5) .indicator-icon {
    background: #95cb7c;
}

.indicator-info p:first-child {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}
.indicator-info p:last-child {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #8e88c1;
}

.main__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 117%;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}
.main__desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-align: center;
    color: #8e88c1;
    margin-bottom: 50px;
}

.main__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    width: 209px;
    height: 206px;
    border: 2px solid #8e88c1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item p {
    width: 178px;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.05em;
    text-align: center;
    color: #8e88c1;
}

.map {
    background: #071341;
    display: flex;
    justify-content: center;
}

.map iframe {
    width: 1400px;
    height: 664px;
}

footer {
    background: #071341;
}

footer div {
    padding: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div p {
    font-weight: 500;
    font-size: 12px;
    line-height: 200%;
    color: #fff;
}