* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 0.5fr 4fr 4fr 1fr;
    grid-template-columns: 1fr 1.1fr 1.4fr;
    grid-template-areas:
        "nav nav nav"
        "section article aside-top"
        "section article aside-bottom"
        "footer footer footer";
}

nav {
    grid-area: nav;
    background-color: #d9d9d9;
}

section {
    grid-area: section;
    background-color: #a4a4a4;
}

article {
    grid-area: article;
    background-color: #c1c1c1;
}

.aside-top {
    grid-area: aside-top;
    background-color: #7f7a7a;
}

.aside-bottom {
    grid-area: aside-bottom;
    background-color: #6b6161;
}

footer {
    grid-area: footer;
    background-color: #d9d9d9;
}

