* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}
body {
    font-family: "Nunito", sans-serif;
}
section {
    height: 100vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    color: black;
}
section a img {
    height: 50px;
}
section h2 {
    font-size: 36px;
    font-weight: 500;
}
#section-top {
    background-color: #db7f6b;
}
#section-middle {
    background-color: #bbffff;
}
#section-bottom {
    background-color: #7fe491;
}
