@media screen and (min-width: 769px) and  (max-width: 1279px) {
    .container {
        max-width: 769px;
    }

    .cards {
        width: 720px;
        margin: 32px auto;
    }

    .card {
        width: 218px;
        align-self: flex-start;
    }
}